%h1.header= "Account Details for #{@user_account.name}"

%table.useraccount
  %tr
    .user= "Email: "+@user_account.email
  %tr
    .user= "Name: "+@user_account.name
  %tr
    .user= "Child's Name: "+@user_account.childname.to_s
    - @user_account.childgrade == 0 ? childgrade = "" : childgrade =  @user_account.childgrade
    .user= "Child's Grade: "+childgrade.to_s
  %tr
    .user= "Address: "+@user_account.homeaddress.to_s

  %h1.header= "Requests submitted for #{@user_account.name}"
  %table.table
    %thead
      %tr
        %th Request Name
        %th Project Description

    %tbody
      -@requests.each do |request|
        %tr.request
          %td.projectname= link_to(request.projectname, request_path(request))
          %td.projectdesc= request.description
