#main.container

  %h3.header PTO Members

  = form_tag user_accounts_path, :method => :get do
    .field
    = label_tag :name, "Name"
    .field
    = text_field_tag :name, @name
    .field
    = label_tag :accounttype, "Account type"
    .field
    = text_field_tag :accounttype, @accounttype
    %br
    .field
    = label_tag :fromgrade, "From grade"
    .field
    = number_field_tag :fromgrade, @fromgrade
    .field
    = label_tag :tograde, "To grade"
    .field
    = number_field_tag :tograde, @tograde

    .actions
    = submit_tag "Refine the list of members"


  %table.table
    %thead
      %tr
        %th Name
        %th Email
        %th Child's Grade
        %th Account type


    %tbody
      -@members.each do |member|
        %tr.member
        %td.name= member.name
        %td.email= member.email
        -member.children.map do |c|
          %td.grade= c.childgrade
        %td.type= member.accounttype

  = form_tag email_user_accounts_path, :method => :get do
    = label_tag :subject, "Subject"
    = text_field_tag :subject
    %br
    = label_tag :body, "Body"
    = text_area_tag :body
    %br
    = hidden_field_tag :name, params[:name]
    = hidden_field_tag :accounttype, params[:accounttype]
    = hidden_field_tag :fromgrade, params[:fromgrade]
    = hidden_field_tag :tograde, params[:tograde]
    %br
    .action
    = submit_tag "Send message to members shown"
