#main.container
  %h1.header= "Account Details for #{@user_account.name}"

  %table.useraccount
    %tr
      .user= "Email: "+@user_account.email
    %tr
      .user= "Name: "+@user_account.name
    %tr
      -@user_account.children.any? do |c|
        .user= "Child's Name: "+ c.to_s
        - c.childgrade == 0 ? childgrade = "" : childgrade =  c.childgrade
        .user= "Child's Grade: "+ childgrade.to_s
    %tr
      .user="Children"+ @user_account.children.any?.to_s
    -#   .user= "Child's Name: "+ @child.childname.to_s
    -#   - @child.childgrade == 0 ? childgrade = "" : childgrade =  @child.childgrade
    -#   .user= "Child's Grade: "+childgrade.to_s
    %tr
      .user= "Address: "+@user_account.homeaddress.to_s

    .row
      .col-md-2= link_to('Edit Profile Details', edit_user_account_registration_path(@user_account))
