<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", :required => true %>
  </div>

  <%= f.fields_for :children do |kid| %>
    <%= f.association :childname, "Child's name"%>
    <%= f.text_field :childname, autofocus: true, autocomplete: "Child's name" %>
    <%= f.association :childgrade, "Child's Grade"%>
    <%= f.number_field :childgrade, autofocus: true, autocomplete: "Child's grade", within: 1...13 %>
  <% end %>
  <!-- <div class="field">
    <%= f.label :childname, "Child's Name" %><br />
    <%= f.text_field :childname, autofocus: true, autocomplete: "Child's name" %>
  </div>

  <div class="field">
    <%= f.label :childgrade, "Child's Grade" %><br />
    <%= f.number_field :childgrade, autofocus: true, autocomplete: "Child's grade", within: 1...13 %>
  </div> -->

  <div class="field">
    <%= f.label :homeaddress, "Home Address"%><br />
    <%= f.text_field :homeaddress, autofocus: true, autocomplete: "Home Address" %>
  </div>

  <div class="field">
    <%= f.label :email, "Email" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "New Password"%> <i>(leave blank if not intending to change)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Password Confirmation" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "Current Password" %> <i>(use your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update details" %>
  </div>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :delete}) do |f| %>
      <%= f.label :delete_account_password, "Password"%> <i>(use your current password to confirm account deletion)</i><br />
      <%= f.password_field :delete_account_password, autocomplete: "off"%>
      <%= f.submit "Delete User Account", data: { confirm: "Confirm Deletion" } %>
<% end %>

<id="back"><%= link_to "Back", :back %>
