#main.container
<<<<<<< HEAD
  =render 'header'
  %h3.header Properties available for rent

  #filters
    -# maximum occupants, price, number of bathrooms, and distance from a given location.
    =form_tag rental_properties_path, :method => :get do
      %span.filter
        =label_tag "maxpersons_filter", "Maximum occupants"
        =number_field_tag "maxpersons_filter", "#{@maxpersons}", :in => 0..13
      %span.filter
        =label_tag "bathrooms_filter", "Number of bathrooms"
        =number_field_tag "bathrooms_filter", "#{@bathrooms}", :in => 0..6
      %span.filter
        =label_tag "price_filter", "Maximum price"
        =number_field_tag "price_filter", "#{@price}", :in => 0..1000000
      %br
      %span.filter
        =label_tag "distance_filter", "Within"
        =number_field_tag "distance_filter", "#{@distance}"
        =label_tag "location_filter", "miles of"
        =text_field_tag "location_filter", "#{@location}"
      =submit_tag "Refine the list of rental properties"
    =link_to 'Clear filters', rental_properties_path(:reset_filters => 1), :class => "btn btn-primary"
=======
  %h3.header Calendar Events For HCS-PTO
>>>>>>> 1549c856a17cb5aab2b38fbb2f404c977e53292d

  %table.table
    %thead
      %tr
        %th= link_to('Title',calendar_events_path(:order => 'title'))
        %th Description
        %th Location
        %th Contact Person
        %th Start Date
        %th End Date
    %tbody
      -@calendar_events.each do |event|
        %tr
        %td.title=link_to event.title, calendar_event_path(event)
        %td.description=truncate(event.description, length: 50)
        %td.location=event.location
        %td.contact_person=event.contact_person
        %td.start_date=event.start_date_time ? event.start_date_time.to_formatted_s(:short): "No time indicated"
        %td.end_date=event.end_date_time ? event.end_date_time.to_formatted_s(:short): "No time indicated"

  =form_for :search, :method => :get do |f|
    =f.label :start_date_time, "From"
    =f.datetime_local_field :start_date_time

    =f.label :end_date_time, "To"
    =f.datetime_local_field :end_date_time

    =f.submit "Show events"
  %br
  %br

=link_to "Create a new event for HCS-PTO", new_calendar_event_path
