%div
  #main.container
  %br
  %br

    .row
      .col-md-1
      %h3.col-md-3.header Calendar Events
      .col-md-3
      .col-md-2=link_to "Create a new event for HCS-PTO", new_calendar_event_path, :class => "btn btn-success btn-lg"
      .col-md-3

    %br
    %table.table#events_style
      %thead
        %tr
          %th= link_to('Title',calendar_events_path(:order => 'title'))
          %th Description
          %th= link_to('Location', calendar_events_path(:order => :location))
          %th= link_to('Contact Person', calendar_events_path(:order => :contact_person))
          %th= link_to('Start Date', calendar_events_path(:order => :start_date_time))
          %th= link_to('End Date', calendar_events_path(:order => :end_date_time))
          %th Start Time
          %th End Time
          %th Volunteer
      %tbody
        -@calendar_events.each do |event|
          %tr.event
          %td.title=link_to event.title, calendar_event_path(event)
          %td.description=truncate(event.description, length: 50)
          %td.location=event.location
          %td.contact_person=event.contact_person
          %td.date=event.start_date_time ? event.start_date: "No date indicated"
          %td.date=event.end_date_time ? event.end_date: "No date indicated"
          %td.time=event.start_date_time ? event.start_time: "No time indicated"
          %td.time=event.end_date_time ? event.end_time: "No time indicated"
          %td.volunteer_signup=link_to("Sign up for #{event.title} ", volunteer_signup_calendar_event_path(event))

    = form_tag calendar_events_path, :method => :get do
      = label_tag :start_date_time, "From"
      = date_field_tag :start_date_time, @start_date_time

      = label_tag :end_date_time, "To"
      = date_field_tag :end_date_time, @end_date_time

      = submit_tag "Show events"
    %br
    %br
