#main.container
  %h3.header Calendar Events For HCS-PTO

  %table.table
    %thead
      %tr
        %th= link_to('Title',calendar_events_path(:order => 'title'))
        %th Description
        %th Location
        %th Contact Person
        %th Start Date
        %th End Date
    %tbody
      -@calendar_events.each do |event|
        %tr
        %td.title= link_to event.title, calendar_event_path(event)
        %td.description= truncate(event.description, length: 50)
        %td.location= event.location
        %td.contact_person= event.contact_person
        %td.start_date= event.start_date_time ? event.start_date_time.to_formatted_s(:short): "No time indicated"
        %td.end_date= event.end_date_time ? event.end_date_time.to_formatted_s(:short): "No time indicated"

  =form_for :search, :method => :get do |f|
    =f.label :start_date_time, "From"
    =f.datetime_local_field :start_date_time

    =f.label :end_date_time, "To"
    =f.datetime_local_field :end_date_time

    =f.submit "Show events"
  %br
  %br

=link_to "Create a new event for HCS-PTO", new_calendar_event_path
