#main.container-fluid

  .row
    .col-md-offset-1
    .col-md-4
      %h2.header.title= "#{@calendar_event.title}"
    .col-md-offset-2
    .col-md-4.centered_text.date_time= "Start date and time: #{@calendar_event.start_date_time ? @calendar_event.start_date_time.to_formatted_s(:short): "No time indicated"}"
    .col-md-4.centered_text.contact_person= "#{@calendar_event.contact_person} is the contact person for this event."
    .col-md-offset-4
    %h4 Volunteer List
  %table.table#events_style
    //%caption Volunteer List
    %thead
      %tr
        %th Name
        %th Email
    %tbody
      -@calendar_event.user_accounts.each do |user|
        %tr.event
        %td.name=user.name
        %td.email=user.email
    %br
    %br

  .row
    .col-md-offset-1
    .col-md-2.centered_text.shaded_green= link_to('Back to events list', calendar_events_path)
