#main.container
  %br
  %br

  .row
    .col-md-offset-1
    .col-md-4
      %h2.header.title= "#{@calendar_event.title}"
    .col-md-offset-2
    .col-md-4.centered_text.date_time= "Start date and time: #{@calendar_event.start_date_time ? @calendar_event.start_date_time.to_formatted_s(:short): "No time indicated"}"
    .col-md-4.centered_text.contact_person= "#{@calendar_event.contact_person} is the contact person for this event."
    .col-md-offset-4
    %h4 Volunteer List
  %table.table#events_style
    //%caption Volunteer List
    %thead
      %tr
        %th Name
        %th Email
    %tbody
      -@calendar_event.user_accounts.each do |user|
        %tr.event
        %td.name=link_to(user.name, view_user_account_path(user))
        %td.email=user.email
    %br
    %br

  .row
    .col-md-offset-1

    .col-md-2.centered_text.shaded_green= link_to('Back to events list', calendar_events_path)

= form_tag email_volunteer_list_calendar_event_path(@calendar_event), :method => :get do
  = label_tag :subject, "Subject"
  = text_field_tag :subject
  %br
  = label_tag :body, "Body"
  = text_area_tag :body
  %br
  = submit_tag "Send message to members shown"

